$color_purple: #541554;

.color-purple {
    color: #541554;
}
.color-white {
    color: white;
}
.color-yellow {
    color: darkgoldenrod;
}
.color-deepskyblue {
    color: deepskyblue;
}
a:link, a:visited, a:active {
    text-decoration:none;
}